openapi: 3.0.1
info:
  title: EIDA statistics service
  description: "This is the description of EIDA's statistics service, used to submit statistics files and to get statistics"
  contact:
    email: resif-dc@univ-grenoble-alpes.fr
  license:
    name: AGPLv3
    url: https://www.gnu.org/licenses/agpl-3.0.en.html
  version: 1.0.0
externalDocs:
  description: EIDA github page
  url: https://github.com/eida/
servers:
- url: https://ws.resif.fr/eida/stats/1/
paths:
  /statistic:
    put:
      tags:
        - statistic
      summary: append a statistic aggregation. If any value exists on the server side, submitted values will be appended.
      operationId: updateStat
      requestBody:
        description: An aggregation file as created by the aggregator, JSON gzipped.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Stat'
        required: true
      responses:
        405:
          description: Invalid input
          content: {}
      security:
      - bearerAuth:
        - write:eidanode
      x-codegen-request-body-name: body
    post:
      tags:
      - statistic
      summary: Submit a new statistic aggregation
      operationId: addStat
      requestBody:
        description: Submit a statistic generated by the aggregator. If any value exists, it will be overwritten.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Stat'
        required: true
      responses:
        405:
          description: Invalid input
          content: {}
      security:
      - bearerAuth:
        - write:eidanode
      x-codegen-request-body-name: body

components:
  schemas:
    Stat:
      required:
      - date
      - network
      - station
      - location
      - channel
      - country
      - bytes
      - nb_requests
      - nb_successful_requests
      - nb_unsuccessful_requests
      - clients
      type: object
      properties:
        date:
          type: string
          format: string
        network:
          type: string
          format: string
        station:
          type: string
          format: string
        location:
          type: string
          format: string
        channel:
          type: string
          format: string
        country:
          type: string
          format: string
        bytes:
          type: integer
          format: int64
        nbrequets:
          type: integer
          format: int64
        nb_successful_requests:
          type: integer
          format: int64
        nb_unsuccessful_requests:
          type: integer
          format: int64
        clients:
          type: string
          format: string
          description: a HyperLogLog serialized object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

security:
  - bearerAuth: []
