<!DOCTYPE html>
<html>

  <head>
    <style>
      body {
        margin: 25px 50px;
        font-family: Arial, sans-serif;
      }
      h1 {
        text-align: center;
        color: #004d99;
      }
      h2 {
        margin-top: 30px;
        margin-bottom: 20px;
        color: #004d99;
      }
      form {
        width: 500px;
        margin: 0 auto;
        text-align: left;
      }
      table#builder {
        width: 100%;
      }
      #builder td {
        padding: 10px;
      }
      table#parameters{
        border-collapse: collapse;
        width: 75%;
        margin: 0 auto;
      }
      #parameters th, #parameters td {
        border: 1px solid #ddd;
        padding: 8px;
      }
      #parameters tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      #parameters th {
        background-color: #004d99;
        color: white;
      }
      input[type="text"] {
        width: 100%;
        box-sizing: border-box;
      }
      button {
        display: block;
        margin: 20px auto;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
      }
      a#result {
        display: block;
        margin: 20px auto;
        padding: 10px 20px;
        color: #004d99;
        text-decoration: none;
        border: none;
        cursor: pointer;
      }
      a#result:hover {
        text-decoration: underline;
      }
      tfoot {
        font-size: 0.8em;
        color: #666;
      }
      li {
        margin-bottom: 10px; /* Add spacing between list items */
      }
    </style>
  </head>

  <body>
    <h1>Query Method</h1>

    <h2>URL Builder</h2>

    <form>
      <table id="builder">
        <tr>
          <td>Base URL:</td>
          <td><input type="text" id="base-url" value="{{ url_query }}" readonly></td>
        </tr>
        <tr>
          <td>Start:</td>
          <td><input type="month" id="start"></td>
        </tr>
        <tr>
          <td>End:</td>
          <td><input type="month" id="end"></td>
        </tr>
        <tr>
          <td>Datacenter:</td>
          <td><input type="text" id="datacenter"></td>
        </tr>
        <tr>
          <td>Network:</td>
          <td><input type="text" id="network"></td>
        </tr>
        <tr>
          <td>Station:</td>
          <td><input type="text" id="station"></td>
        </tr>
        <tr>
          <td>Location:</td>
          <td><input type="text" id="location"></td>
        </tr>
        <tr>
          <td>Channel:</td>
          <td><input type="text" id="channel"></td>
        </tr>
        <tr>
          <td>Country:</td>
          <td><input type="text" id="country"></td>
        </tr>
        <tr>
          <td>Aggregate_on:</td>
          <td>
            <label>
              <input type="checkbox" name="aggregate_on" value="location" checked disabled>
              Location
            </label>
            <label>
              <input type="checkbox" name="aggregate_on" value="channel" checked disabled>
              Channel
            </label>
            <label>
              <input type="checkbox" name="aggregate_on" value="month">
              Month
            </label>
            <label>
              <input type="checkbox" name="aggregate_on" value="datacenter">
              Datacenter
            </label>
            <label>
              <input type="checkbox" name="aggregate_on" value="network">
              Network
            </label>
            <label>
              <input type="checkbox"  name="aggregate_on" value="station">
              Station
            </label>
            <label>
              <input type="checkbox" name="aggregate_on" value="country">
              Country
            </label>
          </td>
        </tr>
        <tr>
          <td>Format:</td>
          <td>
            <label>
              <input type="radio" id="format" name="format" value="text" checked>
              Text/CSV
            </label>
            <label>
              <input type="radio" id="format" name="format" value="json">
              JSON
            </label>
          </td>
        </tr>
      </table>
      <button type="button" onclick="buildUrl()">Build URL</button>
    </form>

    <a id="result"></a>

    <h2>Parameters</h2>

    <table id="parameters">
      <tr>
        <th>Parameter</th>
        <th>Example</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Start</td>
        <td>2021-05</td>
        <td>Statistics are queried for requests made starting from this month</td>
      </tr>
      <tr>
        <td>End</td>
        <td>2021-12</td>
        <td>Statistics are queried for requests made until this month</td>
      </tr>
      <tr>
        <td>Datacenter</td>
        <td>RESIF</td>
        <td>Statistics are queried for requests made to this EIDA node</td>
      </tr>
      <tr>
        <td>Network</td>
        <td>HL</td>
        <td>Statistics are queried for requests made for this network;
          wildcards * for at least one character and ? for exactly one character can be used</td>
      </tr>
      <tr>
        <td>Station</td>
        <td>NOAIC,STA*</td>
        <td>Statistics are queried for requests made for this station;
        wildcards * for at least one character and ? for exactly one character can be used</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>00</td>
        <td>Statistics are queried for requests made for this location of station;
        wildcards * for at least one character and ? for exactly one character can be used</td>
      </tr>
      <tr>
        <td>Channel</td>
        <td>HHZ</td>
        <td>Statistics are queried for requests made for this channel of station;
        wildcards * for at least one character and ? for exactly one character can be used</td>
      </tr>
      <tr>
        <td>Country</td>
        <td>FR</td>
        <td>Statistics are queried for requests made from this country</td>
      </tr>
      <tr>
        <td>Aggregate_on</td>
        <td>location,channel,month,station</td>
        <td>Aggregate on one or more parameters to see total results for all available values of the parameter;
        e.g. <i>aggregate_on=month</i> to see results in total across all months between <i>Start</i> and <i>End</i>
        or in total for all months that exist in the database if no values given for <i>Start</i> and <i>End</i>;
        <i>aggregate_on=all</i> is a shortcut for <i>aggregate_on=month,datacenter,network,station,country,location,channel</i>;
        <i>location</i> and <i>channel</i> are aggregated by default, even if not specified in the query</td>
      </tr>
      <tr>
        <td>Format</td>
        <td>json</td>
        <td>Choose format of the returned object between CSV and JSON; default CSV</td>
      </tr>
      <tfoot>
        <tr><td colspan=3 align="justify"><b>Note:</b> For all parameters except <i>Start</i>, <i>End</i> and <i>Format</i> multiple comma-separated
          values are possible.</td></tr>
      </tfoot>
    </table>

    <h2>Examples</h2>

    <ul>
      <li>Statistics during 2021 for specific station:<br>
        <a href="{{ url_query }}?start=2021-01&end=2021-12&datacenter=RESIF&network=FR&station=CIEL&aggregate_on=month,country">
          {{ url_query }}?start=2021-01&end=2021-12&datacenter=RESIF&network=FR&station=CIEL&aggregate_on=month,country</a></li>
      <li>Statistics during 2021 for each network of RESIF datacenter:<br>
        <a href="{{ url_query }}?start=2021-01&end=2021-12&datacenter=RESIF&aggregate_on=month,station,country">
          {{ url_query }}?start=2021-01&end=2021-12&datacenter=RESIF&aggregate_on=month,station,country</a></li>
      <li>Statistics for each month of 2021 for requests made to specific station only from Greece and Germany:<br>
        <a href="{{ url_query }}?start=2021-01&end=2021-12&datacenter=GEOFON&network=GE&station=APE&country=GR,GE&aggregate_on=country">
          {{ url_query }}?start=2021-01&end=2021-12&datacenter=GEOFON&network=GE&station=APE&country=GR,GE&aggregate_on=country</a></li>
      <li>Statistics during 2021 for requests made from each country in JSON format:<br>
        <a href="{{ url_query }}?start=2021-01&end=2021-12&aggregate_on=month,datacenter,network,station&format=json">
          {{ url_query }}?start=2021-01&end=2021-12&aggregate_on=month,datacenter,network,station&format=json</a></li>
      <li>All time statistics until 2020 in all EIDA nodes:<br>
        <a href="{{ url_query }}?end=2020-12&aggregate_on=all">
          {{ url_query }}?end=2020-12&aggregate_on=all</a></li>
    </ul>

    <script>
      // script for autocomplete datacenters parameterODC
      let datacenters;
      fetch('{{ url_nodes }}')
        .then(response => response.json())
        .then(data => {
          datacenters = data.nodes;
        })
      let input = document.getElementById("datacenter");

      input.addEventListener("keyup", autocomplete);

      function autocomplete() {
        closeAllLists();
        var currentFocus;
        var inputValue = input.value.split(",").pop();
        var selected = input.value.split(",");
        var list = document.createElement("div");
        list.setAttribute("id", this.id + "autocomplete-list");
        list.setAttribute("class", "autocomplete-items");
        this.parentNode.appendChild(list);

        for (var i = 0; i < datacenters.length; i++) {
          if(selected.indexOf(datacenters[i]) != -1) continue;
          if (datacenters[i].substr(0, inputValue.length) == inputValue) {
            var option = document.createElement("div");
            option.innerHTML = "<strong>" + datacenters[i].substr(0, inputValue.length) + "</strong>";
            option.innerHTML += datacenters[i].substr(inputValue.length);
            option.innerHTML += "<input type='hidden' value='" + datacenters[i] + "'>";
            option.addEventListener("click", function(e) {
              var remainingLetters = this.getElementsByTagName("input")[0].value.substr(inputValue.length);
              input.value = input.value + remainingLetters;
              closeAllLists();
              input.focus();
            });
            list.appendChild(option);
          }
        }
      }

      function closeAllLists(elmnt) {
        var x = Array.from(document.getElementsByClassName("autocomplete-items"));
        for (var i = 0; i < x.length; i++) {
          if (elmnt != x[i] && elmnt != input) {
            x[i].remove();
          }
        }
      }

      document.addEventListener("click", function (e) {
          closeAllLists(e.target);
      });


      // script to build URL
      function buildUrl() {
        // Get the base URL and parameters from the input fields
        var baseUrl = document.getElementById("base-url").value;
        const params = []
        params[0] = document.getElementById("start");
        params[1] = document.getElementById("end");
        params[2] = document.getElementById("datacenter");
        params[3] = document.getElementById("network");
        params[4] = document.getElementById("station");
        params[5] = document.getElementById("country");
        params[6] = document.getElementById("location");
        params[7] = document.getElementById("channel");
        getCheckBoxes = document.querySelectorAll('input[name=aggregate_on]:checked')
        checkBoxesValues = Array.from(getCheckBoxes).map(checkbox => checkbox.value).join(",")
        params[8] = {id: "aggregate_on", value:checkBoxesValues}
        params[9] = document.querySelector('input[name="format"]:checked')

        // Initialize the result URL with the base URL
        var result = baseUrl;
        var atLeastOneParam = false;
        for (p of params) {
          if (p.value) {
            if (!atLeastOneParam) {
              // Add ? to the URL when a parameter is found
              result += "?";
              atLeastOneParam = true;
            }
            else result += "&"
            result += p.id + "=" + p.value;
          }
        }

        // Display the final result URL
        document.getElementById("result").href = result
        document.getElementById("result").innerHTML = result
      }
    </script>

  </body>
</html>
