[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
eida-statsman = {file = "."}

[dev-packages]

[requires]
python_version = "3.9"
