[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mmh3 = "*"
sqlalchemy = "*"
pyramid = "*"
waitress = "*"
psycopg2-binary = "*"
pytest = "*"
datetime = "*"
webtest = "*"
pytest-postgresql = "*"
psycopg = "*"
requests = "*"
python-gnupg = "*"
numpy = "==1.23.0"
python-hll = "*"
sentry-sdk = "*"
pyramid-openapi3 = "*"

[dev-packages]
pytest = "*"
pytest-postgresql = "*"
behave = "*"

[requires]
python_version = "3.9"
