[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mmh3 = "*"
sqlalchemy = "*"
pyramid = "*"
waitress = "*"
psycopg2-binary = "*"
pytest = "*"
datetime = "*"
webtest = "*"
pytest-postgresql = "*"
psycopg = "*"
pyramid-openapi3 = "*"

[dev-packages]
pytest = "*"
pytest-postgresql = "*"

[requires]
python_version = "3.9"
