-i https://pypi.org/simple
greenlet==2.0.1; python_version >= '3' and (platform_machine == 'aarch64' or (platform_machine == 'ppc64le' or (platform_machine == 'x86_64' or (platform_machine == 'amd64' or (platform_machine == 'AMD64' or (platform_machine == 'win32' or platform_machine == 'WIN32'))))))
hupper==1.11
mmh3==3.0.0
pastedeploy==3.0.1
plaster-pastedeploy==1.0.1
plaster==1.1.2
psycopg2==2.9.5
pyramid==2.0
sqlalchemy==1.4.46
translationstring==1.4
venusian==3.0.0
waitress==2.1.2
webob==1.8.7
zope.deprecation==4.4.0
zope.interface==5.5.2
